/* Hero page */
.home-hero {
	min-height: 60.625rem;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-hero_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5.9375rem;
	width: 81.25rem;
	height: 50rem;
	align-items: center;
	justify-content: center;
}

.home-hero_welcome {
	display: flex;
	gap: 1rem;
	/* justify-content: center; */
	align-items: center;
}

.home-hero_container .home-hero_text .home-hero_welcome p {
	font-family: "Cardo", sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	line-height: 154.5%;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #ffffff;
}
.home-hero-line {
	width: 55px;
	border: 1px solid #ffca42;
	margin-top: 22px;
	margin-bottom: 35px;
}

.home-hero_text {
	display: flex;
	flex-direction: column;
}

.home-hero_links {
	display: flex;
	gap: 2.3125rem;
	/* justify-content: center; */
	align-items: center;
	margin: 3rem 0 3rem 0;
}

.home-hero_text h1 {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 110%;
	/* or 72px */
	letter-spacing: -0.02em;
	color: #ffffff;
	margin-bottom: 2rem;
}

.home-hero .home-hero_text p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 180%;
	/* or 34px */
	letter-spacing: -0.01em;
	color: #b4c7e7;
}

.home-hero_text button {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 19px;
	align-items: center;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	height: 4.0625rem;
	width: 13.5rem;
	border-style: none;
	cursor: pointer;
	/* margin-top: 2rem; */
}

.home-hero_links a {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 19px;
	line-height: 125%;
	/* identical to box height, or 24px */
	/* text-decoration: none; */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	text-decoration: underline;
	text-underline-offset: 10px;
}

.home.hero_image {
	width: 100%;
	height: 100%;
}

.home-hero_plr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.home-hero_plr-col {
	display: flex;
	gap: 1rem;
	align-items: first baseline;
}
.home-hero_plr-col img {
	width: 16px;
	height: 16px;
}
.home-hero_plr-column {
	display: flex;
	flex-direction: column;
}

.home-hero_plr-col .home-hero_plr-column p {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	letter-spacing: -0.01em;
	color: #ffffff;
}

.home-hero_plr-col .home-hero_plr-column p:nth-child(2) {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 170%;
	letter-spacing: -0.01em;
	color: #b4c7e7;
}

/* Author's books include */
.home-abi {
	min-height: 51.6875rem;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-abi_container {
	gap: 4.125rem;
	width: 81.25rem;
	height: auto;
	/* align-items: center; */
	/* justify-content: center; */
}

/* About the author */
.home-ata {
	display: flex;
	min-height: 61.875rem;
	background-color: var(--bg-color-2);
	align-items: center;
	justify-content: center;
}
.home-ata_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5.875rem;
	width: 81.25rem;
	height: 43.125rem;
	align-items: center;
	justify-content: center;
}
.home-ata_heading {
	font-size: 2.8125rem;
	font-family: "Cardo", sans-serif;
	line-height: 3.375rem;
	text-align: left;
	font-weight: 700;
	color: var(--primary-color);
}
.home-ata_text p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 170%;
	text-align: left;
	letter-spacing: -0.01em;
	color: #969aa0;
	margin-top: 10px;
	margin-bottom: 2.75rem;
}

table {
	border-collapse: collapse;
	margin-bottom: 2.5625rem;
}

td:not(:first-child) {
	border-left: 1px solid #ffca42;
	padding: 0 32px 0 32px;
}
td:first-child {
	padding-right: 28px;
}
.row-1 {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 55px;
	line-height: 120%;
	/* identical to box height, or 66px */
	letter-spacing: -0.02em;
	color: #1b3764;
}
.row-2 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	/* identical to box height, or 31px */
	letter-spacing: -0.01em;
	color: #969aa0;
}
.home-ata_qrcode {
	display: flex;
	width: 477px;
	height: 160px;
	background-color: #1b3764;
	padding: 0.9375rem;
	gap: 37px;
}
.home-ata_qrcodetext {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-ata_qrcode .home-ata_qrcodetext p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 19px; /* or 34px */
	letter-spacing: -0.01em;
	color: #b4c7e7;
	margin: 0;
}
.home-ata_qrcode .home-ata_qrcodetext p:first-child {
	font-family: "Cardo";
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	/* or 26px */
	letter-spacing: -0.02em;
	color: #ffca42;
	margin-bottom: 7px;
}

/* Trusted by the Best */
.home-tbtb {
	min-height: 38.0625rem;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-tbtb_container {
	display: flex;
	flex-direction: column;
	width: 81.25rem;
	align-items: center;
	/* justify-content: center; */
}

.home-tbtb_container-logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tbtb-logos {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.tbtb-logos img {
	height: 50%;
	width: 50%;
}
.tbtb-logos .tbtb-logos_text h3 {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	text-align: center;
	letter-spacing: -0.01em;
	color: var(--primary-color);
	margin-top: 1.8125rem;
}
.tbtb-logos .tbtb-logos_text p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	text-align: center;
	letter-spacing: -0.01em;
	color: #969aa0;
	margin-top: 10px;
}

/* Get copy */
.home-getcopy {
	min-height: 31.25rem;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-getcopy_container {
	width: 81.25rem;
	height: 26.6875rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* align-items: center; */
	/* justify-content: center; */
}
.home-getcopy_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home-getcopy_heading {
	font-size: 2.8125rem;
	font-family: "Cardo", sans-serif;
	line-height: 3.375rem;
	text-align: left;
	font-weight: 700;
	color: white;
}

.home-getcopy_line {
	width: 55px;
	border: 3px solid #ffca42;
	margin-top: 22px;
	margin-bottom: 1rem;
}

.home-getcopy_text {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 180%;
	letter-spacing: -0.01em;
	color: #b4c7e7;
	margin-top: 1.375rem;
}

.home-getcopy_left button {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 19px;
	align-items: center;
	background-color: var(--primary-color);
	color: white;
	height: 4.0625rem;
	width: 13.5rem;
	border-style: none;
	cursor: pointer;
	margin-top: 2rem;
	border: 1px solid #ffca42;
}

/* What you will learn */
.home-wywl {
	min-height: 69.25rem;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-wywl_container {
	width: 81.25rem;
	height: 51.1875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.home-wywl_display {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	/* margin-bottom: 5rem; */
}

.home-wywl_display-left {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Css for Chapter Includes */
.home-chapters {
	min-height: 75rem;
	background-color: var(--bg-color-2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-chapters_container {
	width: 81.25rem;
	height: 56.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.home-chapters-line {
	width: 55px;
	border: 3px solid #ffca42;
	margin-top: 22px;
	margin-bottom: 50px;
}

.home-chapters_display {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem;
	margin-bottom: 5rem;
}

.home-chapters_container button {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 19px;
	align-items: center;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	height: 4.0625rem;
	width: 27.125rem;
	border-style: none;
	cursor: pointer;
	margin-bottom: 32px;
}

.home-chapters_container p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 170%;
	text-align: center;
	color: #969aa0;
}

/* Css for Testimonials */
.home-testimonials {
	min-height: 58.125rem;
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-testimonials_container {
	width: 81.25rem;
	height: 40.5625rem;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 40% 60%;
	align-items: center;
}

.home-testimonials_left {
	width: 26.125rem;
}

.home-testimonials_left-heading {
	font-size: 2.8125rem;
	font-family: "Cardo", sans-serif;
	line-height: 3.375rem;
	text-align: left;
	font-weight: 700;
	color: var(--primary-color);
}

.home-testimonials_left p {
	font-family: "Inter", sans-serif;
	font-size: 19px;
	line-height: 180%;
	letter-spacing: -1%;
	color: #969aa0;
	margin-top: 14px;
}
.home-testimonials_line {
	width: 55px;
	border: 3px solid #ffca42;
	margin-top: 27px;
	margin-bottom: 29px;
}

.home-testimonials_rating {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.home-testimonials_rating img {
	margin-right: 10px;
	width: auto;
}

.home-testimonials_left,
p:nth-child(2) {
	font-family: "Cardo", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 120%;
	letter-spacing: -0.01em;
	color: var(--primary-color);
	margin-top: -4px;
}

.home-testimonials_left,
p:nth-child(1) {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.1875rem;
	line-height: 180%;
	letter-spacing: -0.01em;
	color: var(--primary-color);
}

.home-testimonials_right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.home-testimonials_right-left {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.home-testimonials_right-right {
	display: flex;
	align-items: center;
}
