.book__footer {
	min-height: 50vh;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.book__footer-container {
	display: flex;
	flex-direction: column;
	width: 81.25rem;
	justify-content: center;
}

.book__footer-heading {
	font-family: "Cardo", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	letter-spacing: -2%;
	color: white;
	margin-bottom: 1.3rem;
}

.book__footer-upper {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	padding: 8.5rem 0rem 0rem 0rem;
}
/* .book__footer-explore,
.book__footer-utility,
.book__footer-keep {
    
} */

/* .book__footer-keep {
    width: 20%;
} */
.book__footer-social {
	display: flex;
	gap: 10px;
}

.book__footer-social-box {
	margin-top: 27px;
	display: grid;
	height: 55px;
	width: 55px;
	/* background-color: var(--secondary-color); */
	place-items: center;
	border: 1px solid #ffca42;
	border-radius: 0px;
}

.book__footer-heading-contact {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	color: var(--yellow);
	text-align: center;
}

.book__footer-heading-contact_details {
	display: flex;
	align-items: first baseline;
	font-family: "Inter", sans-serif;
	/* font-weight: 700; */
	font-size: 18px;
	line-height: 37px;
	text-align: left;
	letter-spacing: -2%;
}

.book__footer-heading-contact_details p:nth-child(1) {
	font-family: "Cardo", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	text-align: left;
	letter-spacing: -1%;
}

.book__footer-line {
	text-align: center;
	margin-top: 4.25rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	opacity: 20%;
}

.book__footer-lower {
	font-family: "Inter", sans-serif;
	color: var(--tertiary-color);
	font-size: 17px;
	line-height: 34px;
	text-align: center;
	letter-spacing: -1%;
	padding: 1.125rem 0 1.438rem;
}
.book__footer-lower p span {
	font-weight: 700;
}
