.footer__points {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer__points-title {
    color: var(--tertiary-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 37px;
    text-align: left;
    letter-spacing: -1%;
}